{% extends "base.html" %}
{% block content%}
<div class="container" style="margin-top: 20px;margin-bottom: 20px;">
    <div class="editor-head" style="padding: 20px;border-radius: 2rem;">
        <div style="margin: 8px 0px;">
          <input id = "idea_name" type="text" value="{{ idea.name }}" style="border-radius: .5rem;width: 100%;"></div>
        <div style="margin: 8px 0px;">
          <span style="margin-right: 16px;">Идея №{{ idea.id }}</span>
          <span>{{ idea.created_time.strftime('%d.%m.%Y %H:%M')}}<br></span>
        </div>
        <div style="margin: 8px 0px;">
            <div class="modal fade" role="dialog" tabindex="-1" id="add-tag">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="border-radius: 2rem;background-color: var(--a-color);box-shadow: 0px 5px 15px var(--ad-color);">
                        <div class="modal-header">
                            <h4 class="modal-title">Добавить тег</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          {% if tags|length == 0 %}
                          <span class="dashboard-tag" id="del-has-no-tags">У вас нет еще ни одного тега!</span>
                          {% else %}
                          {% for tag in tags %}
                          <div class="d-flex flex-row align-items-center" style="margin: 8px;">
                            <span style="margin-right: 8px;">{{ tag.name }}</span>
                            <button id = 'b{{tag.id}}u'class="form-button" type="button" onclick="connect_tag({{ tag.id }})"><i class="fa fa-plus"></i></button>
                          </div>
                          {% endfor %}
                          {% endif %}
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
            <div style="margin: 8px 0px;">
              <button class="form-button" type="button" style="margin-right: 16px;" data-bs-toggle="modal" data-bs-target="#delete_idea"><i class="fa fa-trash"></i></button>
                <div class="modal fade" role="dialog" tabindex="-1" id="delete_idea">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="border-radius: 2rem;background-color: var(--a-color);box-shadow: 0px 5px 15px var(--ad-color);">
                            <div class="modal-header">
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h4 class="modal-title">Вы действительно хотите удалить эту идею? Вы не сможете ее восстановить позже.</h4>
                            </div>
                            <div class="modal-footer">
                              <button class="form-button" type="button" onclick="delete_idea({{ idea.id }})">Да удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <div id = 'tag-list'>
            <button class="form-button" type="button" style="margin-right: 16px;" data-bs-toggle="modal" data-bs-target="#add-tag"><i class="fa fa-plus"></i></button>
            {% for tag in idea.tags %}
              <a id = "tag_show_{{ tag.id }}" class = "dashboard-tag" style="text-decoration: underline;" onclick="disconnect_tag({{ tag.id }})">{{ tag.name }}</a>
            {% endfor %}
          </div>
        </div>
    </div>
    <div id = 'posts-container'>
      {% for post in idea.posts.all() %}
      <div id = 'post_{{ post.id }}' class="d-flex flex-column editor-head" style="padding: 20px;border-radius: 2rem;margin-top: 18px;">
        <span style="margin-bottom: 8px;">{{ post.created_time.strftime('%d.%m.%Y %H:%M') }}</span>
        <span class = 'text-break' style="margin: 8px 0px;">{{ post.body }}</span>
          <div>
            <button class="form-button" type="button" style="margin-top: 8px;" onclick = "delete_post({{ post.id }})">Удалить</button>
          </div>
      </div>
      {% endfor %}
    </div>
    <div class="d-flex flex-column editor-head" style="padding: 20px;border-radius: 2rem;margin-top: 18px;">
        <textarea id = "text"></textarea>
        <div class="d-flex align-items-center" style="margin-top: 8px;">
          <button class="form-button" type="button" style="margin-right: 16px;" onclick = "send_update()">Отправить</button>
          {% if idea.complete %}
            <input id = 'completed' type="checkbox" checked>
          {% else %}
            <input id = 'completed' type="checkbox">
          {% endif %}
          <span>Завершена</span>
        </div>
    </div>
</div>
<script>
  function connect_tag(tag_id) {
    idea_id = {{ idea.id }}
    let http = new XMLHttpRequest();
    http.open("POST", "{{ url_for('connect_idea_tag', tag_id='', idea_id='', _external=True) }}/" + idea_id + '/' + tag_id);
    http.setRequestHeader("Accept", "application/json");
    http.setRequestHeader("Content-Type", "application/json");
    http.onreadystatechange = function() {
      if(http.readyState == 4 && http.status == 200) {
        response = JSON.parse(http.responseText);
        if (response.connected == true) {
        tag_list = document.getElementById('tag-list');
        tag_list.innerHTML = tag_list.innerHTML + '<a id = "tag_show_' + tag_id + '" class = "dashboard-tag" style="text-decoration: underline;" onclick="disconnect_tag(' + tag_id + ')">' + response.tag_name + '</a>';
        document.getElementById('b' + tag_id + 'u').disabled = true;
      }}
    };
    http.send();
  };
  function disconnect_tag(tag_id) {
    idea_id = {{ idea.id }}
    let http = new XMLHttpRequest();
    http.open("POST", "{{ url_for('disconnect_idea_tag', tag_id='', idea_id='', _external=True) }}/" + idea_id + '/' + tag_id);
    http.setRequestHeader("Accept", "application/json");
    http.setRequestHeader("Content-Type", "application/json");
    http.onreadystatechange = function() {
      if(http.readyState == 4 && http.status == 200) {
        element = document.getElementById('tag_show_' + tag_id);
        element.remove();
        document.getElementById('b' + tag_id + 'u').disabled = false;
      }
    };
    http.send();
  };
  function delete_post(post_id) {
    let http = new XMLHttpRequest();
    http.open("POST", "{{ url_for('delete_post', post_id = '', _external=True) }}/" + post_id);
    http.setRequestHeader("Accept", "application/json");
    http.setRequestHeader("Content-Type", "application/json");
    http.onreadystatechange = function() {
      element = document.getElementById('post_'+post_id);
      if (element != null) {
        element.remove();
      };
    };
    http.send();
  };
  function delete_idea(idea_id) {
    let http = new XMLHttpRequest();
    http.open("POST", "{{ url_for('delete_idea', idea_id='', _external=True) }}/" + idea_id);
    http.setRequestHeader("Accept", "application/json");
    http.setRequestHeader("Content-Type", "application/json");
    http.onreadystatechange = function() {
      window.location.href = "{{ url_for('dashboard') }}";
    };
    http.send();
  };
  function send_update() {
    let http = new XMLHttpRequest();
    http.open("POST", "{{ url_for('update_idea', _external=True) }}");
    http.setRequestHeader("Accept", "application/json");
    http.setRequestHeader("Content-Type", "application/json");
    http.onreadystatechange = function() {
      if(http.readyState == 4 && http.status == 200) {
        var response = JSON.parse(http.responseText);
        var text = document.getElementById("text").value;
        var post_code = '<div id = post_' + response.post_id +' class="d-flex flex-column editor-head" style="padding: 20px;border-radius: 2rem;margin-top: 18px;">\
                          <span style="margin-bottom: 8px;">' + response.created_time + '</span><span class = "text-break" style="margin: 8px 0px;">' + text + '</span><div>\
                              <button class="form-button" type="button" style="margin-top: 8px;" onclick = "delete_post(' + response.post_id + ')">Удалить</button>\
                            </div></div>';
        var element = document.getElementById('posts-container');
        element.innerHTML = element.innerHTML + post_code;
    }};
    let currdt = new Date();
    let string_date = currdt.getDate()+'.'+(currdt.getMonth()+1)+'.'+currdt.getFullYear()+' '+currdt.getHours()+':'+currdt.getMinutes();
    data = [{
      'idea_id' : {{ idea.id }},
      'text' : document.getElementById("text").value,
      'name' : document.getElementById("idea_name").value,
      'completed' : document.getElementById("completed").checked,
      'date' : string_date
    }];
    http.send(JSON.stringify(data));
  };
</script>
{% endblock %}
