<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Eine Steine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+2&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
</head>

<body style="background-color: var(--as-color);font-family: Inter, sans-serif;">
    <div class="container d-flex justify-content-center" style="padding: 10%;">
      <form action="" method="post" novalidate>
        <div class="d-flex flex-column align-items-center form-card" style="background-color: var(--a-color);padding: 24px 24px;margin: 32px;border-radius: 1rem;">
          <span class="form-item" style="font-family: Inter, sans-serif;font-size: 32px;margin-bottom: 16px;">Вход</span>
            {{ form.hidden_tag() }}
            {{ form.username(style='margin-bottom:8px', class_='form_item', placeholder='Email или Логин') }}
            {{ form.password(style='margin-bottom:8px', type='password', class_='form_item', placeholder='Пароль')}}
            {{ form.submit(value='Войти', style='margin-top: 16px;', class_='form-item, form-button') }}
            <a class="text-center" role="button" style="font-size: 12px;text-decoration: None;color: black;" href="{{ url_for('register') }}">Или возможно вы хотели<br>зарегистрироваться&gt;</a>
          </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>
