:root {
  --a-color: #C7E7ED;
  --as-color: #8A99BA;
  --ad-color: #39538A;
  --b-color: #EE9972;
  --bd-color: #c57f5f;
  --c-color: #BD8F86;
  --cd-color: #8c6a63;
}

:root {
  --a-color: #ECECE2;
  --as-color: #DADEDF;
  --ad-color: #556672;
  --b-color: #81776d;
  --bd-color: #524c46;
  --c-color: #423930;
  --cd-color: #231f1a;
}

